.game-area {
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  margin: 0 auto;
}
img {
  margin: 7px 1px;
  width: 60px;
  height: 70px;
}
img:active {
  transform: rotatey(360deg);
  transition: 0.3s;
}

.active {
  transform: rotatex(180deg);
  transition: 2s;
}
